.profile-container {
    background-color: #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}

h2 {
    color: #3d3d3d;
    font-family: sans-serif;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 10px;
}

.profile-info {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.profile-info p {
    color: #3d3d3d;
    font-family: sans-serif;
    font-size: 16px;
    margin: 5px 0;
}

.logout-btn {
    padding: 10px 22px;
    outline: none;
    width: 164px;
    font-size: 14px;
    font-weight: 600;
    background-color: #e7461e;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #d7351a;
    /* Darker red on hover */
}