.env
*.pyc
__pycache__/
db.sqlite3
# Ignore Python cache files and directories
*.py[cod]
# Ignore JetBrains IDE files
.idea/

venv
debug.logiti_cafe/bin/
iti_cafe/lib/
iti_cafe/lib64
iti_cafe/pyvenv.cfg
debug.log