[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-environ = "*"
django-cors-headers = "*"
django-filter = "*"
django-perms = "*"

[dev-packages]

[requires]
python_version = "*"
python_full_version = "*"
