.header {
    background: #fff;
    padding: 0;
    border-bottom: 1px solid #e72929;
}

.header a {
    color: #af1313;
}

.header a:hover {
    background: #e72929;
    color: #fff;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    padding: 1rem;
}

.header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.header ul a {
    padding: 1rem;
    display: inline-block;
}

.menu_container {
    position: relative;
}

.menu {
    position: absolute;
    z-index: 1;
    background-color: whitesmoke;
    display: none;
}

.menu_container:hover .menu {
    display: block;
}

.menu a {
    width: 100%;
    min-width: 8rem;
}

.cart_count {
    background-color: #ff4d4d;
    color: white;
    padding: 0.1rem 0.45rem;
    border-radius: 100rem;
    font-size: 0.9rem;
}

.cart-icon path {
    fill: white;
}

/* header.module.css */

.chatButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .chatButton:hover {
    background-color: #0056b3;
  }
  

/* header.module.css */
.loggedInUsers {
    position: fixed; /* To position it relative to the header */
    bottom: 20px;
    right: 20px; 
    background-color: #5dd3fb; /* Background color for contrast */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;/* Width of the user list */
  }
  
  .loggedInUsers li {
    padding: 10px;
    margin: 2px;
    background-color: #007bff;
    border-radius: 10px; /* Padding for each user */
    border-bottom: 1px solid #eeeeee; /* Divider between users */
    color: #fffefe; /* Text color */
  }
  
  .loggedInUsers li:hover {
    background-color: #1796fff1; /* Highlight on hover */
    cursor: pointer; /* Pointer cursor on hover */
  }
  